
h3{font-size: 20px; margin: 5px 0 10px;}
p{font-weight: 300; line-height: 20px; font-size: 14px; margin-bottom: 15px;}
.btn1{display: inline-block; padding: 8px 10px; font-size: 14px; color: #fff; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
.btn1:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}
.text-desc{position: absolute; left: 0; top: 0; background-color: #fff; height: 100%; opacity: 0; width: 100%; padding: 20px;}
.port-2{float: left; width: 100%; position: relative; overflow: hidden; text-align: center; border: 4px solid rgba(255, 255, 255, 0.9); perspective: 800px;}
.port-2 .text-desc{z-index: -1; transition: 0.6s;}
.port-2 .image-box{transition: 0.4s;}
.port-2:hover .image-box{transform: rotateX(80deg); transform-origin: center bottom 0; transition: 0.4s;}
.port-2.effect-3 .text-desc{opacity: 1; top: auto; bottom: -100%;}
.port-2.effect-3:hover .text-desc{bottom: 0;}

.box {
	width:252px;
	height:252px;
	margin:20px 10px 70px 10px;
	float:left;
	position: relative;
}

#gall_info {float:left;position:absolute;width:252px;margin:266px auto;line-height:1.5em;padding:5px 10px 5px 10px;font-size:0.92em;background:#f6f6f6;line-height:20px}
#gall_info strong { display:inline-block;margin:0px }
#gall_info i {font-size:12px}
#gall_info .gall_date {position:absolute;padding:5px;bottom:0px;right:5px;font-style:italic;display:inline-block;color:#777;}


